/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

	.container {
		width: 360px;
	}

	header {
		height: auto;
	}

	#logo, #menu {
		float: none;
		width: 100%;
		height: auto;
	}

	#menu {
		text-align: center;
	}

	#menu nav a {
		margin: 0px 0px;
		display: block;
		border-bottom: 1px solid black;
	}

	main .content .about-me-img {
		float: none;
		max-width: 100%;
		height: auto;
	}

	main .main-box h1 {
		text-align: center;
	}

	.content p {
		font-size: 20px;
	}

	footer {
		position: static;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;	
	}

	/* GALLERY */

	.item-gallery {
		float: none;
		width: 100%;
		margin-right: 0;
	}

	.item-gallery img {
		max-width: 100%;
		height: auto;
	}

	.item-gallery .block-name-item-gallery {
		font-size: 25px;
	}

	/* CONTACT */

	.input-block {
		margin-bottom: 20px;
	}

	.input-block input[type="text"], input[type="email"], textarea {
		font-size: 20px;
	}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

	.container {
		width: 360px;
	}

	header {
		height: auto;
	}

	#logo, #menu {
		float: none;
		width: 100%;
		height: auto;
	}

	#menu {
		text-align: center;
	}

	#menu nav a {
		margin: 0px 0px;
		display: block;
		border-bottom: 1px solid black;
	}

	main .content .about-me-img {
		float: none;
		max-width: 100%;
		height: auto;
	}

	main .main-box h1 {
		text-align: center;
	}

	.content p {
		font-size: 20px;
	}

	footer {
		position: static;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;	
	}

	/* GALLERY */

	.item-gallery {
		float: none;
		width: 100%;
		margin-right: 0;
	}

	.item-gallery img {
		max-width: 100%;
		height: auto;
	}

	.item-gallery .block-name-item-gallery {
		font-size: 25px;
	}

	/* CONTACT */

	.input-block {
		margin-bottom: 20px;
	}

	.input-block input[type="text"], input[type="email"], textarea {
		font-size: 20px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

	.container {
		width: 750px;
	}

	header {
		height: auto;
	}

	#logo, #menu {
		float: none;
		width: 100%;
	}

	#menu {
		text-align: center;
	}

	#menu nav a {
		margin: 0px 40px;
	}

	main .content .about-me-img {
		float: none;
		max-width: 100%;
		height: auto;
	}

	main .main-box h1 {
		text-align: center;
	}

	.content p {
		font-size: 20px;
	}

	footer {
		position: static;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;	
	}

	/* GALLERY */

	.item-gallery {
		float: none;
		width: 100%;
		margin-right: 0;
	}

	.item-gallery img {
		max-width: 100%;
		height: auto;
	}

	.item-gallery .block-name-item-gallery {
		font-size: 25px;
	}

	/* CONTACT */

	.input-block input[type="text"], input[type="email"], textarea {
		font-size: 20px;
	}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

	.container {
		width: 750px;
	}

	header {
		height: auto;
	}

	#logo, #menu {
		float: none;
		width: 100%;
	}

	#menu {
		text-align: center;
	}

	#menu nav a {
		margin: 0px 40px;
	}

	main .content .about-me-img {
		float: none;
		max-width: 100%;
		height: auto;
	}

	main .main-box h1 {
		text-align: center;
	}

	.content p {
		font-size: 20px;
	}

	footer {
		position: static;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;	
	}

	/* GALLERY */

	.item-gallery {
		float: none;
		width: 100%;
		margin-right: 0;
	}

	.item-gallery img {
		max-width: 100%;
		height: auto;
	}

	.item-gallery .block-name-item-gallery {
		font-size: 25px;
	}

	/* CONTACT */

	.input-block input[type="text"], input[type="email"], textarea {
		font-size: 20px;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}